/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Portfolio Website: This site is characterized mainly to use sticky images giving a sense of volume and depth */

/* Utilities */

:root {
  --primary-color: #2b2d42;
  --secondary-color: #e4572e;
  --light-color: #edf2f4;
  --third-color: #f6ae2d;
  --fourth-color: #cd001f;
  --action-color: #8d99ae;
  --ultralight-color: #ffffff;
  --ultradark-color: #000000;
  --grey-color: #e1e3e4;
}

html {
  font-family: 'Nunito';
  font-size: 14px;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-image: url('../images/main-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.page-about {
  background-image: url('../images/diego.jpg');
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 300px auto;
  background-repeat: no-repeat;
  z-index: 50;
}

h1 {
  font-family: 'Nunito';
  font-size: 15vw;
  line-height: 14vw;
  font-weight: bolder;
  color: var(--primary-color);
}
h2 {
  font-family: 'Nunito';
  font-size: 2.25rem;
  line-height: 2.25rem;
  color: var(--action-color);
  font-weight: bold;
}
h3 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.9rem;
  color: var(--primary-color);
}
h4 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--primary-color);
}
h5 {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--primary-color);
}
a {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
  margin-top: 5px;
}
p {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 2rem;
  color: var(--primary-color);
}

/* Sticky Background */

.logo {
  width: 100px;
}

.big-box {
  margin: auto auto;
  max-width: 100%;
  position: absolute;
}

/* This variable edit de menu background */
#navbarTogglerDemo02 {
  height: 95vh;
  position: relative;
  background-color: var(--primary-color);
}

#navbarTogglerDemo02 ul {
  position: absolute;
  top: 30px;
  left: 30px;
}

#navbarTogglerDemo02 ul li a {
  color: var(--secondary-color);
}

/* This variable controls menu bootstrap fontfonts */
#navbarTogglerDemo02 ul li a:hover {
  color: var(--scondary-color);
}

#navbarTogglerDemo02 ul li div h2 {
  color: var(--ultralight-color);
}

#navbarTogglerDemo02 ul:nth-child(1) {
  display: none;
}

.nav-item {
  margin: 10px 0px;
}

#navbarTogglerDemo02 ul li a {
  font-size: 3rem;
}

/* Navigation */
nav {
  background-color: var(--grey-color);
}

header {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px 0 10px;
  margin: auto auto;
}

header .header_content {
  height: 500px;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.showreel {
  display: none;
}

blockquote {
  max-width: 768px;
  height: 150px;
  display: grid;
  padding: 10px 0px 10 0px;
  margin: auto auto;
}

blockquote h4 {
  font-style: italic;
  font-size: 1.5rem;
}

.subtitle {
  height: 100px;
  max-width: 768px;
  text-align: left;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px 0 10px;
  max-width: 768px;
  margin: auto auto;
}

.project {
  height: 200px;
  padding: 30px 0px 30px 0px;
}

.project-info a {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.project-info a:hover {
  color: var(--action-color);
  cursor: pointer;
}

.project-info h5 {
  color: var(--primary-color);
  font-weight: bold;
}

.portfolio-project-img {
  margin: auto auto;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.about-text {
  padding: 20px 0px 20px 0px;
}

.contact {
  background-color: var(--light-color);
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 7px 10px #33313166;
  opacity: 1;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  padding: 10px;
  background-color: var(--ultralight-color);
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 15px;
  border: none;
}

input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
}

.btn1 {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 100%;
  font-size: rem;
  align-self: center;
  color: var(--ultralight-color);
  margin: 18px 0px 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

footer {
  background-color: var(--fourth-color);
  margin: auto auto;
  padding: 20px 10px 20px 10px;
}
.social {
  display: flex;
  height: 50px;
  grid-area: social;
}

.footer-area {
  max-width: 768px;
  margin: auto auto;
}

.address {
  padding: 20px 0px 20px 0px;
}

.phrase-mini h4 {
  display: inline-block;
  align-items: center;
  color: var(--ultralight-color);
  font-size: 2rem;
  height: 120px;
}

.address-co h4,
.address-ca h4 {
  color: var(--ultralight-color);
  font-size: 1.5rem;
}

.address-co p,
.address-ca p {
  color: var(--ultralight-color);
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin: 20px 0px 10px 0px;
}
.site,
.mailing {
  color: var(--ultralight-color);
  height: 20px;
  margin-bottom: 20px;
}

.site a,
.mailing a,
.social a {
  color: var(--ultralight-color);
  height: 20px;
}

.social a {
  margin: 0px 20px 0px 0px;
}

/* Settings for Blog and Post */
.about-content {
  padding: 40px 15px 40px 15px;
}

.about-content-info {
  height: 300px;
}
.about-content-info-title {
  height: 50px;
}

/* Page Project Settings */

body.page-project {
  background-image: none;
}

body.page-project .bigbox header {
  background-color: var(--primary-color);
  height: 300px;
}

body.page-project .header_content {
  background-color: var(--primary-color);
  display: flex;
}

body.page-project .header_content_1 {
  background-color: var(--primary-color);
  display: flex;
  margin-top: 5%;
}

body.page-project header h1 {
  color: var(--ultralight-color);
  align-self: flex;
}

body.page-project .project-banner {
  height: 300px;
  width: 100%;
  background-image: url(../images/monserrate-banner.jpg);
  background-size: cover;
  background-position: center;
}

.about-contact-info-images {
  margin: auto auto;
}

.about-contact-info-images img {
  max-width: 350px;
  height: auto;
  margin-bottom: 30px;
}

/* ------------------------------------
Setting for higher resolutions 
---------------------------------------- */

/* ----- Responsive Adjustments Index ----- */

@media screen and (min-width: 768px) {
  #navbarTogglerDemo02 ul li {
    align-items: flex-start;
    height: 50px;
  }

  #navbarTogglerDemo02 ul {
    height: 450px;
    width: 600px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #navbarTogglerDemo02 ul li.itm2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
    align-self: start;
  }

  nav {
    background-color: none;
  }

  .showreel {
    display: inherit;
  }

  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  .header_content_1 {
    grid-area: title;
    align-self: center;
  }

  .header_content_2 {
    grid-area: sub-title;
  }

  .showreel {
    display: initial;
  }

  header .header_content {
    align-content: center;
    width: 768px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
      'title none'
      'sub-title none';
  }

  blockquote {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .quote_content {
    grid-column: 2 / span 1;
  }

  .navshowreel {
    display: none;
  }

  .project {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .project-date {
    grid-column: 1/2;
  }

  .project-info {
    grid-column: 2/3;
  }

  .contact .subtitle h3 {
    grid-area: title;
    align-self: start;
  }

  .contact-form {
    grid-area: form;
  }

  .contact-form {
    max-width: 100%;
  }

  .contact-area {
    margin: auto auto;
    max-width: 768px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
      'title form'
      'info form';
  }

  .phrase-mini {
    grid-area: phrase;
  }

  .address-co {
    grid-area: colombia;
  }

  .address-ca {
    grid-area: canada;
  }

  .mailing {
    grid-area: mail;
  }

  .site {
    grid-area: site;
  }
  footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .footer-area {
    width: 768px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 75% 25%;
    grid-template-areas:
      'phrase colombia canada'
      'social site mail';
  }

  /* ----- Responsive Adjustments Bits & Pixels Pages ----- */

  section.portfolio-content {
    border: color 4px red;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-project {
    max-width: 350px;
  }

  .about-contact-info-images {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 20px 20px;
    justify-content: center;
  }

  /* ----- Responsive Adjustments Blog & Post ----- */

  .about-content-info {
    height: 200px;
  }
  .about-content-info-title {
    height: 50px;
  }
}
