/* 
1. Mobile styles
- Hide the image with class `.largekitten` for mobile devices
- Remove bullet points and add border-bottom to each `.gameslist` list item
- Add padding of 10px to the `.gameslist` list items   */

ul li {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

/* 2. Adding a media-query for 480px and above 

- hide the image with class `.smallkitten` and display the image with class `.largekitten` */

@media screen and (max-width: 479px) {
  .largekitten {
    display: contents;
  }
}

/* 
3. Adding a media-query for 800px and above

- float the list items of `.gameslist` list
- remove the border from bottom and add border to right of each item */

@media screen and (min-width: 480px) {
  .smallkitten {
    display: none;
  }
}

/* 4. Adding a media-query for screen size between 900px and 1200px
set the font-size of the h1 to 4rem */

@media screen and (min-width: 900px) and (max-width: 1200px) {
  h1 {
    font-size: 4rem;
    border-bottom: none;
  }
}

/* Adding a media-query for 1200px and above 