/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------
          Custom Styles
------------------------------------ */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  background-color: #f7f7ff;
  }

 .full{
  max-width: 1200px;
  margin: 0 auto;
 } 

.content {
  padding: 25px 36px 25px;
}

/* Color font is standarized for all document, except for links */
h1,
h2,
h3,
p {
  color: #333131;
  opacity: 1;
}

::placeholder {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

p,
label {
  font-size: 16px;
  font-weight: 600;
}

a {
  color: #ff8480;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

.logo {
  margin: 12px 0 15px;
}
.logo img {
  width: 114.73px;
}
.textbox {
  width: 300px;
}

.contact {
  background-color: #fff;
  box-shadow: #333131;
  width: 300px;
  padding: 15px 25px 24px;
  margin: 11px auto 40px;
  border-radius: 26px;
  box-shadow: 5px 10px 15px #33313166;
  opacity: 1;
}

.contact p {
  font-size: 14px;
  font-weight: 700;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  padding: 10px;
  background-color: #f4f4f5;
  border-radius: 11px;
  margin-top: 6px;
  margin-bottom: 15px;
  border: none;
}

input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
}

#checkbox {
  width: 80px;
}

li {
  list-style: none;
}

li > input {
  height: 25px;
  width: 25px;
}

.btn1 {
  background-color: #57eeab;
  border-radius: 11px;
  border: none;
  height: 55px;
  width: 100%;
  font-size: 24px;
  align-self: center;
  font-weight: bold;
  margin: 18px 0px 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn1:hover {
  background-color: #57eeab;
  opacity: 0.7; /* Green */
}

footer {
  background-color: #fffd8c;
  padding: 22px 37px 21.34px;
}

footer p {
  font-weight: regular;
}

.simulator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.simulator input[type='number'],
.simulator input[type='text'],
textarea {
  padding: 10px;
  background-color: #f7f7ff;
  border-radius: 11px;
  margin-top: 6px;
  margin-bottom: 15px;
  height: 40px;
  border: none;
}

.simulator input[type='number'],
textarea {
  width: 68px;
}

.simulator input[type='text'],
textarea {
  width: 225px;
}

.btn2 {
  background-color: #ff8480;
  border-radius: 11px;
  border: none;
  height: 40px;
  width: 100%;
  font-size: 24px;
  align-self: center;
  font-weight: bold;
  margin: 5px 0px 38px;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn2:hover {
  background-color: #ff8480;
  opacity: 0.7; /* Green */
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

/* ---------------------------------
          Responsive Layouts
------------------------------------ */

/* Medium sizes Screens */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .contact {
    width: 605px;
    margin-top: 20px;
  }

  footer {
    width: 100%;
  }

  .footercontent {
    margin: auto;
    width: 605px;
  }

  .simulator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .simulator input[type='number'],
  textarea {
    width: 122px;
    margin-right: 13px;
    /* margin-right: 5px; */
  }

  .simulator input[type='text'],
  textarea {
    width: 260px;
    margin-right: 13px;
  }

  .btn2 {
    height: 40px;
    width: 200px;
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  i {
    margin: 15px;
  }
}

/* Large sizes Screens */

@media screen and (min-width: 1025px) {

  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  .bg-scooter {
    display: none;
  }
  img.imagelogo {
    margin-left: 40px;
  }
  .table {
    background: url('../images/bg-image/scooter.svg') no-repeat 50% 50%;
    background-size: 644px 800px;
    background-position: center;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-row: 1fr 1fr;30
  }

  .contact {
    grid-column: 2 / span 1;
    grid-row: 1 / span2;
    justify-self: end;
    width: 500px;
    margin-right: 0px;
  }

  footer {
    width: 100%;
    margin: 0 auto;
    display: grid;
    align-content: end;
    justify-content: center;
    grid-template-columns: auto auto;
    justify-content: stretch;
    grid-template-areas:
      'textcalculator social'
      'calculator social';
  }

  .social {
    grid-area: social;
    justify-self: end;
    align-self: center;
    margin: 0px;
  }

  footer .footercontent {
    grid-area: textcalculator;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
  }

  footer .simulator {
    grid-area: calculator;
    justify-content: left;
  }

  .simulator input[type='number'],
  textarea {
    width: 122px;
    margin-right: 13px;
    /* margin-right: 5px; */
  }

  .simulator input[type='text'],
  textarea {
    width: 260px;
    margin-right: 13px;
  }

  .btn2 {
    width: 200px;
  }

  i {
    width: 60.64px;
  }
}
