/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ice Gleam Concep Design: This site is characterixed mainly to use silhouetted photography, Consequently there are sections which requieres to offset images. */

/* Utilities */

html {
  font-family: 'Lato';
  font-size: 14px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lato';
  font-size: 27px;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-family: 'Lato';
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

h3 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #3a243b;
}

a {
  font-family: 'lato';
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-family: 'Roboto';
  font-size: 18px;
  color: #3a243b;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

/* Header Styling: This structure is the same for all internal pages */

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo {
  max-width: 277px;
  align-self: center;
}

/* Navigation */

nav {
  max-width: 80%;
  margin: auto;
}
.nav-list li {
  border-bottom: 1px solid #8a628c;
  text-align: center;
  width: 277px;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #3a243b;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
  color: #32cd32;
}

/* Main banner: The main photo offset the background */

.banner {
  position: relative;
}
.banner-image {
  position: relative;
  height: 200px;
}

.bimage {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 180px;
}

.banner-frame {
  top: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 414px;
  width: 100%;
  background-color: #3a243b;
  padding: 30px;
}

.banner .banner-frame .banner-frame-content {
  width: 320px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-frame h1,
h2 {
  color: #fff;
}

.banner-frame .btn1 {
  width: 100%;
  height: 42px;
  background-color: #ec663b;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: roboto;
}

/* Contextual Menu: This menu show the product based on category */

.section-head {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 200px;
  width: 100%;
  background-color: #fcfcfc;
}

.section-head select {
  background-color: transparent;
  color: #3a243b;
  font-family: roboto;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  border: transparent;
  border-bottom: 1px solid #32cd32;
  padding: 10px;
}

/* Catalog */

.section-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px solid red;
}

.catalog-product h3 {
  margin-bottom: 20px;
}

.catalog-product {
  margin-bottom: 60px;
  width: 320px;
  border: 3px solid blue;
  position: relative;
}

.product-photo {
  border: 3px solid green;
  height: 375px;
  position: relative;
}

.ice-photo {
  position: absolute;
  z-index: 1;
  max-width: 146px;
  right: -40px;
  bottom: -40px;
  border: 3px solid yellow;
}

.catalog-product .product-photo {
  /* width: 200px; */
}

/* News Letter */

.section-news {
  position: relative;
  margin: auto;
  margin-bottom: 40px;
}

.news-image {
  position: relative;
  height: 200px;
}

.bimage2 {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 180px;
}

.news-frame {
  top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #32cd32;
  padding: 30px;
}

.news-frame h2 {
  color: #3a243b;
}

.news-frame h2 {
  color: #fff;
}

.section-news .news-frame .news-frame-content {
  width: 320px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 322px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-family: roboto;
  font-size: 18px;
  color: #dbdbdb;
  margin-bottom: 20px;
  text-align: center;
}

.btn2 {
  width: 100%;
  height: 42px;
  background-color: #3a243b;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: roboto;
}

/* Blog Content */

.section-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-blog .subtitle {
  margin-bottom: 30px;
  text-align: left;
  width: 320px;
}

.post {
  margin-bottom: 30px;
}
.post-content {
  margin: auto;
  width: 322px;
}

.post-content h3 {
  margin-bottom: 10px;
}

.post-content p a {
  font-size: 18px;
  color: #ec663b;
}

.post-img {
  width: 320px;
  margin-bottom: 10px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #dbdbdb;
  height: 400px;
}
.footer-top .second-nav-content {
  width: 320px;
  align-items: center;
}

.footer-top .second-nav-content li {
  margin-top: 5px;
}

.footer-down {
  background-color: #3a243b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 414px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social {
  width: 255px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-down li {
  width: 255px;
  height: 40px;
  text-align: left;
  color: #fff;
}

/* As far most browsers use a blue styling color for phones numbers, this style was removed according the mockup   */
.footer-down li a:link {
  text-decoration: none;
}

i {
  color: #fff;
}

.footer-down .credits p {
  color: #fff;
  font-size: 10px;
}

.footer-down .credits a {
  color: #ec663b;
  font-size: 10px;
}
