/********************************
    Custom CSS
********************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategrey;
  /* Adding background image */
  background-image: url('../images/white_brick_wall.png');
  padding-top: 82px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* 
  This is a CSS Comment
  Shortcut for adding the comment Control + / or Command + /
*/

/* 
html {
  border: 1px solid red;
}
*,
*:before,
*:after {
  border: inherit;
}
nav {
  border: 2px solid blue;
}
h1:before {
  content: "\02D2";
  font-size: 2em;
}
h1:after {
  content: "\02D3";
} */

h1 {
  color: white;
}

p {
  background-color: lightblue;
}

/* Selecting multiple elements to add same styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}

/* Selecting child elements */
nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0;
  width: 49%;
  padding: 1em;
  box-sizing: border-box;
  border-right: 1px solid white;
}

nav ul li:last-child {
  border: none;
}

/* Selecting child elements multiple level */
nav ul a {
  display: block;
  color: darkslategrey;
  text-decoration: none;
}

/* Selecting class name to style HTML element(s) */
.orange-text {
  padding: 1.5em;
  width: 300px;
  display: block;
  background: darkslategrey;
  color: orange;
  text-decoration: none;
}

/* Two column layout using float */
article,
aside {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  padding: 1.5em;
  width: 80%;
  box-sizing: border-box;
  float: left;
}

img {
  width: 100%;
}

aside {
  width: 20%;
}

section {
  clear: both;
}

.orange-text.large-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Selecting id value for styling the element */
#tow {
  position: relative;
  /* color image repeat x-axis y-axis */
  background: orange url('../images/bread.jpg') no-repeat center center;
  background-size: cover;
  /* additional styles to make text visible */
  color: white;
  /* font-size: 24px; */
  /* updating font-size to rem 1.5 x 16 = 24 */
  font-size: 1.5rem;

  /* Adding padding to add space between the border and content */
  padding: 1em 1em 3em 1em;
  /* 1em = 1 x 24 = 24px */
  /* Adding width using viewport width unit */
  width: 50vw;
}

/* We can add multiple classes to one element */
.large-text {
  font-size: 20px;
}

/* Child selector or Direct Child Selector 
  Selecting only the p directly inside the article
*/
article > p {
  font-size: 24px;
  font-weight: bold;
  /* values light, normal, bold, bolder OR 100, 200, 300, 400... */
  line-height: 1.5;
  text-transform: lowercase;
  text-align: center;
}

/* Adjacent Sibling Selector 
Selecting only ul that is adjacent to a h3
*/
h3 + ul {
  border: 1px solid black;
}

/* Attribute Selector 
  Selecting element that has attribute of href set to value #tow
*/
[href='#tow'] {
  font-weight: bold;
}

[target='_blank'] {
  text-transform: uppercase;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

/* Using Pseudo Classes
Styling Navigation */
nav ul a,
nav ul a:link,
nav ul a:visited {
  background: orange;
  /* horizontal vertical blur spread color */
  box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus {
  text-decoration: underline;
}

nav ul a:active {
  /* horizontal vertical blur spread color */
  box-shadow: 0 0 4px 2px black;
}

/* Position related selectors */
/* first-child selector */
aside ul li:first-child {
  font-weight: bold;
}

/* last-child selector */
section ol li:last-child {
  font-weight: bold;
}

/* collapse table border into one */
table {
  border-collapse: collapse;
}

/* nth-child selector */
tbody tr:nth-child(even) {
  /* hex value for color with 6 characters */
  background-color: #d5836c;
}

/* using the nth-child with n 
  Where n is 0,1,2,... until the number of elements
 */
table th:nth-child(n),
table td:nth-child(n) {
  /* hex color value with 3 characters */
  border: 1px solid #000;
}

/* 2n+1 will be 1,3,5,7,.... */

table td:nth-child(2n + 1) {
  background: rgba(0, 0, 0, 0.2);
}

/* 
  CSS Specificity 
  Formula: inline-styles id class tag-name
*/

/* 
  adding a style using tag-name
  specificity: 0001
*/

footer {
  background: aqua;
}

/* 
  adding a style using tag-name
  specificity: 0001
  since it comes after, cascade will overwrite the above
*/
footer {
  background: red;
}

/*
  adding a style using two tag-names 
  specificity: 0002 
*/
body footer {
  background: cornflowerblue;
}

/* 
  adding a style using class name
  specificity: 0010
*/
.site-footer {
  background-color: orange;
}

/* 
  adding a style using class name and tag name
  specificity: 0011
*/
footer.site-footer {
  background-color: lightgreen;
}

/* CSS Box Model */
section p {
  width: 50%;
  /* padding: 1em; */

  /* top right bottom left */
  /* padding: 1em .5em 1em .5em; */

  /* top-bottom left-right */
  padding: 1em 0.5em;

  /* margin: 2em; */
  /* 2em = 2 * 16 = 32px  */

  /* top right bottom left */
  margin: -1em 2em 2em 2em;

  /* border: 2px solid black; */
  border-bottom: 2px solid black;
}

/* Adding borders as separators */
aside ul li {
  border-bottom: 1px solid black;
}

aside ul li:last-child {
  border: none;
}
