html {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.site-header,
.site-footer {
  background-color: #ccc;
}

.location {
  background-color: lavender;
}

.location iframe {
  width: 100%;
}
