/* Final CSS 

Create a separate folder for your CSS file
Add CSS reset code in the start of the file
Mobile-first approach in the styling
The maximum width of the container is 1200px
Add media query for the screen size of 760px and above
Use the 'Open Sans' Google font for the webpage
Colours values used in the layout #c78c06, #ffe6ac, #222 and white
Use of CSS Grid properties for a minimum of one element
Use of CSS Flexbox properties for a minimum of one element 
Follow proper folder structure and naming conventions
CSS has code comments 
CSS code is valid
CSS is properly formatted
Proper link to GitHub Pages site submitted
Overall design and match with the provided mockup

*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------
          Custom Styles
------------------------------------ */

html {
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

.center {
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
}

.superbox {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

/* Font Sizing Setup */

/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */

h1 {
  font-size: 5.063rem;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

p,
a {
  font-size: 1.25rem;
}

/* ----- Menu - Div Box1 ----- */

div.box1 {
  background-color: #222;
}

/* Logo */
.logo {
  background-color: #c78c06;
}

.imagelogo {
  max-width: 100px;
}

/* Navigation */

.nav-list a {
  text-align: center;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #c78c06;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
  background-color: #c78c06;
  color: inherit;
}

.box-search {
  display: flex;
  align-items: center;
}
.main-nav input[type='text'] {
  padding: 12px;
  font-size: 1em;
  border: solid 1px gray;
  width: 95%;
  background: white;
  margin: 5px;
}

.main-nav button {
  width: 44px;
  height: 44px;
  color: #c78c06;
  border: 1px solid #c78c06;
  background-color: #222;
  text-align: center;
}

.center {
  text-align: center;
  width: 100%;
}

/* Buttons */

.btn1 {
  display: inline-block;
  font-size: 18px;
  color: #222;
  background: #c78c06;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn1:hover {
  opacity: 0.8;
}

div.btn1 a {
  color: #222;
  text-decoration: none;
}

div.btn1 i {
  color: #222;
  margin-right: 20px;
}

/* Styling Box 2: Image / container1 / h1 / p / Button */

#box2 {
  background: url('../images/main-banner.jpg');
  justify-content: center;
  height: 600px;
  display: flex;
  align-items: center;
}

div .box2-container {
  position: relative;
  background: none;
  width: 80%;
  padding: 10px;
}

div .box2-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #222;
  opacity: 80%;
  width: 100%;
}

div .box2-content {
  color: white;
  position: relative;
  margin-bottom: 25px;
  z-index: 10;
}

div .btn1 {
  position: relative;
  z-index: 10;
}
